Source: svisounds
Section: localization
Priority: optional
Standards-Version: 1.0
Maintainer: ZIADI Mohamed ali <ma.ziadi@alphalink.fr>
Homepage: http://www.alphalink.fr/

Package: svisounds
Architecture: all
Depends: asterisk
Conflicts: sviriosounds
Description: installs sound files (.wav format) for Alphalink IVRs
